body {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.loader {
    transform: rotateX(70deg);
}
.loader .element {
    display: block;
    border-left: 5px solid rgb(35, 199, 231);
    border-right: 5px solid rgb(35, 199, 231);
    border-top: dotted 2px rgb(29, 146, 170);
    width: 10rem;
    height: 1rem;
    margin-top: 0.5rem;
    perspective: 1000px;
    animation: rotate 5s infinite linear;
    animation-delay: calc(var(--i) * 0.2s);
}
@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}

.load {
    transform: rotateX(70deg);
}
.load .elementary {
    display: block;
    border-left: 5px solid rgb(231, 38, 35);
    border-right: 5px solid rgb(231, 38, 35);
    border-top: dotted 2px rgb(180, 33, 30);
    width: 10rem;
    height: 1rem;
    margin-top: 0.5rem;
    perspective: 1000px;
    animation: rotate 5s infinite linear;
    animation-delay: calc(var(--i) * 0.2s);
}
@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}

.loadin {
    transform: rotateX(70deg);
}
.loadin .elemen {
    display: block;
    border-left: 10px solid rgb(231, 38, 35);
    border-right: 10px solid rgb(231, 146, 35);
    border-top: dotted 2px rgb(250, 133, 23);
    width: 20rem;
    height: 2rem;
    margin-top: 1rem;
    perspective: 1000px;
    animation: rotate 5s infinite linear;
    animation-delay: calc(var(--i) * 0.2s);
}
@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
    
}